body{
    margin: 0px;
}

.edit-main-wrap{
    background-color: rgb(41, 40, 40);
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form{
    display: flex;
    flex-direction: column;
}

.input-field{
    width: 20rem;
    height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.edit-btn-wrap{
    display: flex;
    justify-content: center;
}

.edit-btn{
    width: 12rem;
    margin-top: 2rem;
    height: 2rem;
    color: white;
    background-color: transparent;
    border: 2.5px solid white;
    font-size: 1rem;
}

.edit-navigation-wrap{
    margin-top: 1rem;
}

.edit-navigation{
    color: green;
    font-size: 1.5rem;
}