{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
    <link rel="stylesheet" href="{% static 'employee_management/css/registration.css' %}">
</head>
<body>
    <div class="registration-main-wrap">
        <div class="registration-main-heading">
            Employee Management System
        </div>
        <div class="registration-sub-heading">
            Employee Registration Form
        </div>
        <div class="registration-form-wrap">
            <form action="" method="post" class="registration-form">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Name" class="input-field">
                <input type="text" name="designation" placeholder="Designation" class="input-field">
                <input type="text" name="gender" placeholder="Gender" class="input-field">
                <input type="text" name="state" placeholder="State" class="input-field">
                <input type="text" name="nationality" placeholder="Nationality" class="input-field">
                <input type="email" name="email" placeholder="Email" class="input-field">

                <div class="register-btn-wrap"><button class="register-btn" type="submit">Register</button></div>
            </form>
        </div>
        <div class="registration-navigation-wrap"><a href="{% url 'manage' %}" class="registration-navigation">Go to employee management</a></div>
    </div>
</body>
</html>